* {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	justify-content: center;
	grid-template-columns:5px 195px 195px 195px 195px 195px 195px 5px;
	grid-template-rows:400px 50px 50px auto auto;
}

.header {
	min-width: 1170px;
	height: 400px;
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
}

.logoimg {
	background-image: url(../img/topimg.png);
	border-radius: 5px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header h1 {
	padding: 5px;
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	border: 5px solid black;
	border-radius: 10px;
}

.nav {
	min-width: 1150px;
	border: 2px solid black;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	align-items: center;
	padding-left: 20px;
	background-color: lightgrey;
	max-height: 50px;
}

.nav img {
	width: 49px;
	height: 49px;
	margin-right: 20px;
}

.nav a {
	margin-right: 30px;
	text-decoration: none;
	color: black;
}

h2 {
	min-width: 1170px;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: center;
	align-self: center;
	vertical-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	padding: 20px;
}

.service-item {
	border: 3px solid black;
	text-align: center;
	border-radius: 5px;
	 
}

.service-item:first-of-type {
	grid-column-start: 2;
	grid-column-end: 3;
}

.service-item:nth-of-type(2) {
	grid-column-start: 3;
	grid-column-end: 4;
}

.service-item:nth-of-type(3) {
	grid-column-start: 4;
	grid-column-end: 5;
}

.service-item:nth-of-type(4) {
	grid-column-start: 5;
	grid-column-end: 6;
}

.service-item:nth-of-type(5) {
	grid-column-start: 6;
	grid-column-end: 7;
}

.service-item:nth-of-type(6) {
	grid-column-start: 7;
	grid-column-end: 8;
}

.service-item h3 {
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
}

.service-item p {
	text-align: left;
}

.service-item img {
	width: 190px;
	height: 100px;
	margin-bottom: 20px;
}

footer {
	display: flex;
	min-width: 1170px;
	padding: 10px;
	justify-content: space-between;
	grid-row-start: 5;
	grid-row-end: -1;
	grid-column-start: 1;
	grid-column-end: -1;
}

footer aside {
	border: 2px solid black;
	border-radius: 5px
}

footer img {
	float: left;
	width: 40px;
	height: 40px;
}